.logo img {
    display: block;
    margin-top: 10em;
    margin-right: auto;
    margin-left: auto;
}

.contacts {
    display: block;
    margin-top: 2em;
    /* margin-right: auto;
    margin-left: auto; */
}

.social {
    display: inline-block;
}

.social  i {
	color: #009ee5;
}

.hr{
	font-size:30px
	background-color: #FFFFFF;
	border: 1px solid #000000;
	height: 1px;
	margin-bottom: 35px;
}
